* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.course-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.course-title {
    display: grid;
    align-content: space-between;
    cursor: pointer;
    border: 0.4rem solid rgb(83, 81, 81);
    margin: 1rem;
    height: 25rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 8%;

}

.course-title h4 {
    border-radius: 8%;
    background-color: rgb(219, 157, 199);
    ;
    display: flex;
    justify-content: center;
}

.course-title p {
    font-size: smaller;
    margin-top: 1rem;
    line-height: 1.5rem;
    color: rgb(56, 42, 42);
}

.og-price {
    text-decoration: line-through;
    text-decoration-color: red;
}

.price p {
    line-height: 0.5rem;
}

.enroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prep {
    background-color: rgb(196, 172, 218);
    display: flex;
    justify-content: center;
}


.avail {
    margin-top: 1rem;

}